#!/bin/bash

# Create a backup of journal log as .gz file,
# and delete expired journal log files in local.
# It is triggered by systemd.timer.

set -euo pipefail

BACKUP_EXPIRE_DAYS={{ file_backup_expire_days }}
BACKUP_USER="{{ file_backup_user }}"
BACKUP_GROUP="{{ file_backup_group }}"
JOURNAL_LOG_DIR="{{ file_backup_journallog_dir }}"
# Note:
# If file_backup_dest_dir is only '/', path concatenation like "${file_backup_dest_dir}/file_name" results in '//file_name'.
# On Linux/UNIX, '//file_name' is interpreted as '/file_name', i.e., under the root directory.
# Therefore, rstrip is NOT necessary for this case.
BACKUP_DEST_DIR="{{ file_backup_dest_dir | default('') }}"

YESTERDAY=$(date +%Y%m%d -d '-1day')

JOURNAL_LOG_GZ="${JOURNAL_LOG_DIR}/system.journal.${YESTERDAY}.gz"

function create_backup_file() {
    # Backup system.journal only.
    JOURNAL_LOG_PATH=$(ls ${JOURNAL_LOG_DIR}/*/system.journal)

	if [ ! -f $JOURNAL_LOG_PATH ]; then
        echo "$JOURNAL_LOG_PATH does not exist."
        return 1
    fi

    # Check if backup already exists in destination
    # If BACKUP_DEST_DIR is set, the backup file is stored in BACKUP_DEST_DIR.
    if [ -n "$BACKUP_DEST_DIR" ]; then
        DEST_PATH="${BACKUP_DEST_DIR}/$(basename $JOURNAL_LOG_GZ)"
        if [ -f "$DEST_PATH" ]; then
            echo "$DEST_PATH already exists. Skip."
            return 0
        fi
    fi
    # If BACKUP_DEST_DIR is not set, the backup file is stored in the same directory as the source file.
    if [ -z "$BACKUP_DEST_DIR" ] && [ -f "$JOURNAL_LOG_GZ" ]; then
        echo "$JOURNAL_LOG_GZ already exists. Skip."
        return 0
    fi

    cp "$JOURNAL_LOG_PATH" "${JOURNAL_LOG_PATH}.${YESTERDAY}"
    chown "$BACKUP_USER":"$BACKUP_GROUP" "${JOURNAL_LOG_PATH}.${YESTERDAY}"
    truncate -s 0 "$JOURNAL_LOG_PATH"
    gzip -f "${JOURNAL_LOG_PATH}.${YESTERDAY}"
    if [ -n "$BACKUP_DEST_DIR" ]; then
        mkdir -p "$BACKUP_DEST_DIR"
        mv "$JOURNAL_LOG_GZ" "${BACKUP_DEST_DIR}/$(basename $JOURNAL_LOG_GZ)"
    fi
}

# Delete old files whose expiration date exceeds $BACKUP_EXPIRE_DAYS
# on local and remote.
function delete_old_files() {
    find "$JOURNAL_LOG_DIR" -name 'system.journal.*' -ctime +$BACKUP_EXPIRE_DAYS -delete
}

create_backup_file
delete_old_files

exit 0
