#!/bin/bash

# Create a backup of auth.log as .gz file,
# and delete expired backup files in local.
# It is triggered by systemd.timer.
#
# Notes:
#   - Unlike auditd, auth.log rotation is handled by logrotate.
#   - auth.log.<n> files may already exist depending on the rotation timing.
#   - This script copies auth.log.<1> as "auth.log.YYYYMMDD" and compresses it.

set -euo pipefail

BACKUP_EXPIRE_DAYS={{ file_backup_expire_days }}
BACKUP_USER="{{ file_backup_user }}"
BACKUP_GROUP="{{ file_backup_group }}"
# Note:
# If file_backup_dest_dir is only '/', path concatenation like "${file_backup_dest_dir}/file_name" results in '//file_name'.
# On Linux/UNIX, '//file_name' is interpreted as '/file_name', i.e., under the root directory.
# Therefore, rstrip is NOT necessary for this case.
BACKUP_DEST_DIR="{{ file_backup_dest_dir | default('') }}"

AUTH_LOG_DIR="{{ file_backup_authlog_dir }}"
AUTH_LOG_PATH="${AUTH_LOG_DIR}/auth.log"
YESTERDAY=$(date +%Y%m%d -d '-1day')

AUTH_LOG_ROTATED="${AUTH_LOG_PATH}.1"
AUTH_LOG_GZ="${AUTH_LOG_PATH}.${YESTERDAY}.gz"

function create_backup_file() {
    # Check existence of raw auth.log
    if [ ! -f "$AUTH_LOG_PATH" ]; then
        echo "$AUTH_LOG_PATH does not exist."
        return 1
    fi

    # Check if backup already exists in destination
    # If BACKUP_DEST_DIR is set, the backup file is stored in BACKUP_DEST_DIR.
    if [ -n "$BACKUP_DEST_DIR" ]; then
        DEST_PATH="${BACKUP_DEST_DIR}/$(basename $AUTH_LOG_GZ)"
        if [ -f "$DEST_PATH" ]; then
            echo "$DEST_PATH already exists. Skip."
            return 0
        fi
    fi
    # If BACKUP_DEST_DIR is not set, the backup file is stored in the same directory as the source file.
    if [ -z "$BACKUP_DEST_DIR" ] && [ -f "$AUTH_LOG_GZ" ]; then
        echo "$AUTH_LOG_GZ already exists. Skip."
        return 0
    fi

    # Ensure rotated file exists (logrotate should have created it)
    if [ ! -f "$AUTH_LOG_ROTATED" ]; then
        echo "$AUTH_LOG_ROTATED does not exist. Possibly logrotate has not run yet."
        return 1
    fi

    # Copy rotated file as yesterday’s backup
    cp "$AUTH_LOG_ROTATED" "${AUTH_LOG_PATH}.${YESTERDAY}"
    chown "$BACKUP_USER":"$BACKUP_GROUP" "${AUTH_LOG_PATH}.${YESTERDAY}"

    # Compress
    gzip -f "${AUTH_LOG_PATH}.${YESTERDAY}"
    if [ -n "$BACKUP_DEST_DIR" ]; then
        mkdir -p "$BACKUP_DEST_DIR"
        mv "$AUTH_LOG_GZ" "${BACKUP_DEST_DIR}/$(basename $AUTH_LOG_GZ)"
    fi
}

# Delete expired files locally
function delete_old_files() {
    find "$AUTH_LOG_DIR" -name 'auth.log.*' -ctime +$BACKUP_EXPIRE_DAYS -delete
}

create_backup_file
delete_old_files

exit 0
