[Unit]
Description=The timer for log transfer of {{ item.name }} to backupservers
Requires={{ item.transfer_service_name }}

[Timer]
OnCalendar={{ item.transfer_on_calendar }}

[Install]
WantedBy=timers.target
